APP_NAME=Quiz Service
DEBUG=False
SECRET_KEY=KEY
DATABASE_URL=sqlite:///./quiz.db
LOG_LEVEL=INFO
LOG_FILE=logs/app.log
CHANNEL_LAYER_BACKEND=channels.layers.InMemoryChannelLayer
REDIS_URL=redis://127.0.0.1:6379/
ALLOWED_HOSTS=188.127.254.20,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://188.127.254.20:8081,http://localhost:8081
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30